<h2>Hola soy la pagina de galeria</h2>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et saepe labore corporis ea officiis! Atque laborum adipisci
expedita odio corporis exercitationem repellat. Eum, neque ipsum. Repellendus obcaecati aperiam dignissimos velit.